*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-align: center;
}

body{
   
    position: relative;
    text-align: center;
    background: url(imagens/THE\ UNION\ LOGO\ 3D\ \(1\).png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    width: 100%;
    height: 100%;
     
}
.number{
    width: 100px;
    height: 200px;
    background: #333;
}

.acumolo{
    display: block;
    justify-self: start;
}

  

.vara{
    height: 70px;
    width: 5px;
    background-color: aliceblue;
    margin: auto;
    position: relative;
    top: 25px;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #000;
    border-top: 5px solid #000;
    z-index: 1000;
}
container{
    display: grid;
    grid-template-columns: auto auto;
}

img{
    position: relative;
    width: 25%;
    height: 25%;
    z-index: 100;
    transition: all 15s;
    
}
.val{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    justify-content: center;
    flex-direction: column;
   
       
}
label{
    position: relative;
    width: 250px;
    height: 20px;
    color: white;
    margin-left: 20px;
    margin-right: 40px;
    font-size: 1.5em;
   
}
input{
    position: relative;
    max-width: 250px;
    height: 20px;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    box-shadow: 10px 10px 0 0;
    
}

P{
    position: relative;
    width: 250px;
    height: 20px;
    color: white;
    margin-left: 20px;
    margin-right: 40px;
    font-size: 1em;
}  


audio{
    display: none;
}

@keyframes animateArrow{
   
    50%{
        right: 50%;
    }
}