*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-align: center;
}

body{
    
    position: relative;
    text-align: center;
    background: url(imagens/THE\ UNION\ LOGO\ 3D\ \(1\).png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    max-width: 100%;
    max-height: 100%;
      
}
.number{
    width: 100px;
    height: 200px;
    background: #333;
}

.acum{
    display: block;
    flex-direction: column;
}

.creditos{
    border: 1px solid red;
    width: 100%;
    height: 100%;
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
       
}

.sorteio{
    border: 1px solid blue;
    width: 100%;
}

  

.vara{
    height: 70px;
    width: 5px;
    background-color: aliceblue;
    margin: auto;
    position: relative;
    top: 25px;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #000;
    border-top: 5px solid #000;
    z-index: 1000;
}
container{
    display: block;
    flex-direction: column;
}

img{
    position: relative;
    width: 25%;
    height: 25%;
    z-index: 100;
    transition: all 15s;
    
}
.val{
    
    display: block;
    flex-direction: column;
          
}
label{
    
    width: 250px;
    height: 20px;
    color: white;
    margin-left: 20px;
    margin-right: 40px;
    font-size: 1.5em;
    margin-bottom: 20px;
   
}
input{
    
    max-width: 250px;
    height: 20px;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    box-shadow: 10px 10px 0 0;
    margin-bottom: 20px;
    
}
P{
    color: white;
    font-size: 1em;
    margin-bottom: 20px;
}

main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    
}


audio{
    display: none;
}

@keyframes animateArrow{
   
    50%{
        right: 50%;
    }
}

@media screen and (max-width: 768px) {
    main{
        display: grid;
        grid-template-columns: repeat(1fr 2fr);
    }

    .acum{
        display: block;
        flex-direction: column;
    }

    container{
        display: block;
        flex-direction: column;
    }

    .val{
        display: block;
        flex-direction: column;
    }
    input{
        width: 100px;
        height: 20px;
    }
    P{
        color: white;
        font-size: 12px;
        margin-bottom: 20px;
    }
    
    

}
