*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-align: center;
}

body{
    display: flex;
    width: 100Vw;
    height: 100Vh;
    background-image: url(./imagens/THE\ UNION\ LOGO\ 3D\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;


}



main{
    width: 100Vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.premiacao{
    display: block;
    
}

.number{
    width: 100px;
    height: 200px;
    background: #333;
}

.acum{
    display: block;
    flex-direction: column;
}

.creditos{
    border: solid 2px red;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
          
}

.sorteio{
    display: block;
    border: solid 2px blue;
    width: 100%;
    height: 100%;
}

.vara{
    height: 35px;
    width: 5px;
    position: relative;
    background-color: aliceblue;
    margin: auto;
    top: 25px;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #000;
    border-top: 5px solid #000;
    z-index: 1000;
}
container{
    display: block;
    flex-direction: column;
}

img{
    position: relative;
    width: 50%;
    height: 50%;
    z-index: 100;
    transition: all 15s;
    border: solid 2px yellow;
    border-radius: 50%;
    
}
.val{
    
    display: block;
    flex-direction: column;
          
}
label{
    
    width: 250px;
    height: 20px;
    color: white;
    margin-left: 20px;
    margin-right: 40px;
    font-size: 1.5em;
    margin-bottom: 20px;
   
}
input{
    
    max-width: 250px;
    height: 20px;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    box-shadow: 10px 10px 0 0;
    margin-bottom: 20px;
    
}
P{
    color: white;
    font-size: 1em;
    margin-bottom: 20px;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}


audio{
    display: none;
}

@keyframes animateArrow{
   
    50%{
        right: 50%;
    }
}

@media screen and (max-width: 768px) {
    main{
        display: grid;
        grid-template-columns: repeat(1fr 2fr);
    }

    .acum{
        display: block;
        flex-direction: column;
    }

    container{
        display: block;
        flex-direction: column;
    }

    .val{
        display: block;
        flex-direction: column;
    }
    input{
        width: 100px;
        height: 20px;
    }
    P{
        color: white;
        font-size: 12px;
        margin-bottom: 20px;
    }
    .vara{
        height: 35px;
        width: 5px;
        background-color: aliceblue;
        margin: auto;
        position: relative;
        top: 25px;
        border-radius: 0px 0px 8px 8px;
        border: 1px solid #000;
        border-top: 5px solid #000;
        z-index: 1000;
    }
    
    

}

video{
    display: none;
    width: 300px;
    height: 200px;
    
}




