:root{
    --brand_color: #7ca2f4;
    --dark: #121214;
    --white_soft: #f3f7ff;
    --white: #ffffff;
}

html{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    background-image: url(./imagens/fundo_para\ _body3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Archivo, sans-serif;
       
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topo__marca{
    position: fixed;
    top: 10px;
    width: 100vw;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.topo__marca h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    text-decoration: none;
    color: rgba(236, 226, 235, 0.945);
}

.topo__marca img {
    width: 100px;
    
}

.topo__marca h1 {
    font-size: 45px;
}
/*.menu{
    display: flex;
    width: 200px;
    height: 20px;
    border: 2px solid red;
    position: relative;
    justify-content: center;
    align-items: center;
    
}
.limpar{
    width: 80%;
    height: 80%;
    
}*/

.premiacao{
    display: none;
    width: 100%;
    height: 100vh;
}

audio{
    display: none;
}
.creditos{
    display: none;
}

.sorteio{
    /*display: none;
    width: 100%;
    height: 100%; */
    
    width: 400px;
    height: 400px;
    top: 50px;
    background-color: #ccc;
    border-radius: 50%;
    border: 5PX solid #dde;
    position: relative;
    overflow: hidden;
    transition: 3s;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px 5px rgb(46, 14, 33);
    z-index: 15; 
}

.img{
    
    width: 100%;
    height: 100%;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;  
}

img{
    transition: all 15s;
}

figure{
    position: absolute;
    
}



/*figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}*/

.vara{
   position: absolute;
   top: -25px;
   left: 50%;
   transform: translatex(-50%);
   color: #180808;
   z-index: 10000;
}

.vara::before{
    content: '';
    font-size: 50px;
}
.seta{
    width: 30px;
    height: 30px;
}

.spinner{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   z-index: 100000;
   background-color: #94bdd4;
   text-transform: uppercase;
   border: 5px solid #fff;
   font-weight: bold;
   font-size: 20px;
   color: #1a1010;
   width: 80px;
   height: 80px;
   font-family: sans-serif;
   border-radius: 50%;
   text-align: center;
   letter-spacing: 1px;
   box-shadow: 0 0  10px 5px #1d222e;
   align-items: center;
   justify-content: center;   
}

.logo{
    position: relative;
    width: 80%;
    height: 80%;
    top: 15%;
   
}

.blides{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1500px;
    height: 900px;
    align-items: center;
    justify-content: center;
    z-index: 10;
   

}
#blindes{
    display: none;
    border-radius: 20%;
    width: 60%;
    height: 80%;
    margin: 5px;
    box-shadow: 0 0 15px blue;
}





.abridor0{
    display: flex;
}
.abridor1{
    display: flex;
}
.bone0{
    display: flex;
}
.bone1{
    display: flex;
}
.bone2{
    display: flex;
}
.bone3{
    display: flex;
}
.bone4{
    display: flex;
}
.camiseta0{
    display: flex;
}
.camiseta1{
    display: flex;
}
.camiseta2{
    display: flex;
}
.caneca{
    display: flex;
}
.chinelo1{
    display: flex;
}
.chinelo2{
    display: flex;
}
.mousepad{
    display: flex;
}
.patch0{
    display: flex;
}
.patch1{
    display: flex;
}
.patch2{
    display: flex;
}
.sacochila{
    display: flex;
}
.suporte{
    display: flex;
}

.nomepremio{
    margin-top: 250px;
}

P{
    color: rgba(236, 226, 235, 0.945);;
    font-size: 1em;
    
    
}

audio{
    display: none;
}

@keyframes animateArrow{
   
    50%{
        right: 50%;
    }
}

.video,
.video1{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;

}

@media screen and (max-width: 931px) {
    .blides{
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 900px;
        height: 900px;
        align-items: center;
        justify-content: center;
        z-index: 10;
       
    
    }
  
}

@media screen and (max-width: 815px) {
    .topo__marca h1 {
        font-size: 35px;
    }
    .topo__marca img {
        width: 80px;
        
    }
  
}
@media screen and (max-width: 659px) {
    .topo__marca h1 {
        font-size: 25px;
    }
    .topo__marca img {
        width: 70px;
        
    }
    .blides{
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 600px;
        height: 600px;
        align-items: center;
        justify-content: center;
        z-index: 10;
       
    
    }
    .video,
.video1{
    display: none;
    width: 2000px;
    height: 2000px;
    position: relative;
    transform: rotate(90deg);
}
}
@media screen and (max-width: 570px) {
    .topo__marca h1 {
        font-size: 25px;
    }
    .topo__marca img {
        width: 70px;
        
    }
    .blides{
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 600px;
        height: 600px;
        align-items: center;
        justify-content: center;
        z-index: 10;
       
    
    }
}
@media screen and (max-width: 508px) {
    .topo__marca h1 {
        font-size: 20px;
    }
    .topo__marca img {
        width: 65px;
        
    }
}
@media screen and (max-width: 430px) {
    .topo__marca h1 {
        font-size: 15px;
    }
    .topo__marca img {
        width: 55px;
        
    }
}
@media screen and (max-width: 410px) {
    .topo__marca h1 {
        font-size: 10px;
    }
    .topo__marca img {
        width: 40px;
        
    }
    .sorteio{
        /*display: none;
        width: 100%;
        height: 100%; */
        
        width: 350px;
        height: 350px;
        top: 200px;
        background-color: #ccc;
        border-radius: 50%;
        border: 5PX solid #dde;
        position: relative;
        overflow: hidden;
        transition: 3s;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 20px 5px rgb(46, 14, 33);
        z-index: 15; 
    }
    .img{
        
        width: 40%;
        height: 40%;
        margin-top: 40%;
        margin-left: 100px;
        display: flex;
        /*flex-direction: column;*/
        justify-content: center;
        align-items: center;  
    }
    .spinner{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 100000;
        background-color: #94bdd4;
        text-transform: uppercase;
        border: 5px solid #fff;
        font-weight: bold;
        font-size: 20px;
        color: #1a1010;
        width: 80px;
        height: 80px;
        font-family: sans-serif;
        border-radius: 50%;
        text-align: center;
        letter-spacing: 1px;
        box-shadow: 0 0  10px 5px #1d222e;
        align-items: center;
        justify-content: center;   
     }
}
@media screen and (max-width: 385px) {
    .topo__marca h1 {
        font-size: 10px;
    }
    .topo__marca img {
        width: 40px;
        
    }
    .sorteio{
        /*display: none;
        width: 100%;
        height: 100%; */
        
        width: 350px;
        height: 350px;
        top: 200px;
        background-color: #ccc;
        border-radius: 50%;
        border: 5PX solid #dde;
        position: relative;
        overflow: hidden;
        transition: 3s;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 20px 5px rgb(46, 14, 33);
        z-index: 15; 
    }
    .img{
        
        width: 40%;
        height: 40%;
        margin-top: 40%;
        margin-left: 100px;
        display: flex;
        /*flex-direction: column;*/
        justify-content: center;
        align-items: center;  
    }
    .spinner{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 100000;
        background-color: #94bdd4;
        text-transform: uppercase;
        border: 5px solid #fff;
        font-weight: bold;
        font-size: 20px;
        color: #1a1010;
        width: 80px;
        height: 80px;
        font-family: sans-serif;
        border-radius: 50%;
        text-align: center;
        letter-spacing: 1px;
        box-shadow: 0 0  10px 5px #1d222e;
        align-items: center;
        justify-content: center;   
     }
     .blides{
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 400px;
        height: 400px;
        align-items: center;
        justify-content: center;
        z-index: 10;
       
    
    }
}
@media screen and (max-width: 355px) {
    .topo__marca h1 {
        font-size: 10px;
    }
    .topo__marca img {
        width: 40px;
        
    }
    .sorteio{
        /*display: none;
        width: 100%;
        height: 100%; */
        
        width: 300px;
        height: 300px;
        top: 200px;
        background-color: #ccc;
        border-radius: 50%;
        border: 5PX solid #dde;
        position: relative;
        overflow: hidden;
        transition: 3s;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 20px 5px rgb(46, 14, 33);
        z-index: 15; 
    }
    .img{
        
        width: 40%;
        height: 40%;
        margin-top: 50%;
        margin-left: 95px;
        display: flex;
        /*flex-direction: column;*/
        justify-content: center;
        align-items: center;  
    }
    .spinner{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 100000;
        background-color: #94bdd4;
        text-transform: uppercase;
        border: 5px solid #fff;
        font-weight: bold;
        font-size: 20px;
        color: #1a1010;
        width: 80px;
        height: 80px;
        font-family: sans-serif;
        border-radius: 50%;
        text-align: center;
        letter-spacing: 1px;
        box-shadow: 0 0  10px 5px #1d222e;
        align-items: center;
        justify-content: center;   
     }
}
@media screen and (max-width: 305px) {
    .topo__marca h1 {
        font-size: 10px;
    }
    .topo__marca img {
        width: 40px;
        
    }
    .sorteio{
        /*display: none;
        width: 100%;
        height: 100%; */
        
        width: 200px;
        height: 200px;
        top: 200px;
        background-color: #ccc;
        border-radius: 50%;
        border: 5PX solid #dde;
        position: relative;
        overflow: hidden;
        transition: 3s;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 20px 5px rgb(46, 14, 33);
        z-index: 15; 
    }
    .img{
        
        width: 35%;
        height: 35%;
        margin-top: 80%;
        margin-left: 65px;
        display: flex;
        /*flex-direction: column;*/
        justify-content: center;
        align-items: center;  
    }
    .spinner{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 100000;
        background-color: #94bdd4;
        text-transform: uppercase;
        border: 5px solid #fff;
        font-weight: bold;
        font-size: 20px;
        color: #1a1010;
        width: 80px;
        height: 80px;
        font-family: sans-serif;
        border-radius: 50%;
        text-align: center;
        letter-spacing: 1px;
        box-shadow: 0 0  10px 5px #1d222e;
        align-items: center;
        justify-content: center;   
     }
}